# Silver generated things
*.jar
JARS-BAK
build
documentation/gen/core/
documentation/gen/lib/extcore/
documentation/gen/silver/analysis/
documentation/gen/silver/composed/
documentation/gen/silver/definition/
documentation/gen/silver/driver/
documentation/gen/silver/extension/
documentation/gen/silver/host/
documentation/gen/silver/langutil/
documentation/gen/silver/modification/
documentation/gen/silver/translation/
documentation/gen/silver/util/
generated/bin
generated/doc
generated/ide
generated/src

# build.xml files
build.xml
!runtime/java/build.xml

# Editor created backup files
*.swp
*~
.\#*
\#*\#

# Runtime and testing junk
runtime/imp/main/.classpath
runtime/imp/main/.project
runtime/imp/main/.settings
runtime/imp/main/src/core
runtime/imp/main/src/ide
runtime/imp/main/target
runtime/java/bin/
test/**/*.test.output
test/**/test.jar
test/silver.testing.bin.jar
test/silver_features/test_out.txt

# Eclipse Plugin
eclipse-plugin/feature/target/
eclipse-plugin/plugin/target/
eclipse-plugin/updatesite/target/

# Useful spot to stash your experiments
sandbox
