# Silver generated things
*.jar
JARS-BAK
build
generated/bin
generated/doc
generated/ide
generated/src

# build.xml files
build.xml
!runtime/java/build.xml

# Editor created backup files
*.swp
*~
.\#*
\#*\#

# Runtime and testing junk
runtime/imp/main/.classpath
runtime/imp/main/.project
runtime/imp/main/.settings
runtime/imp/main/src/core
runtime/imp/main/src/ide
runtime/imp/main/src/silver
runtime/imp/main/target
runtime/java/bin/
*.test.output
test/**/test.jar
tutorials/**/output.c

# Useful spot to stash your experiments
sandbox
