/*
 * Variables used:
 *   PKG_NAME
 *   LANG_NAME
 */
package @PKG_NAME@;

public final class @LANG_NAME@Initializer {

	private static boolean DONE = false;
	
	/**
	 * Initialize @LANG_NAME@ compiler
	 */
	public synchronized static void initialize () {
		if(!DONE){
			@PKG_NAME@.Init.initAllStatics();
			@PKG_NAME@.Init.init();
			@PKG_NAME@.Init.postInit();
			DONE = true;
		}
	}
	
}
