source.. = src/
output.. = bin/
bin.includes = META-INF/,\
               icons/,\
               .,\
               @LANG_COMPOSED@.jar,\
               edu.umn.cs.melt.copper.jar,\
               edu.umn.cs.melt.silver.jar,\
               edu.umn.cs.melt.ide.copper-@IDE_RT_VERSION@.jar,\
               plugin.xml
