<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<extension point="org.eclipse.imp.runtime.languageDescription">
  <language extensions="sv" description="nothing here" natureID="silver.composed.montoide.nature" language="Silver">
  </language>
</extension>

<extension point="org.eclipse.imp.runtime.parser">
  <parserWrapper class="edu.umn.cs.melt.ide.imp.services.ParseController" language="Silver">
  </parserWrapper>
</extension>

<extension point="org.eclipse.core.resources.builders" id="builder" name="Silver builder">
  <builder hasNature="true">
    <run class="edu.umn.cs.melt.ide.imp.builders.Builder">
    </run>
  </builder>
</extension>

<extension point="org.eclipse.core.resources.natures" id="nature" name="Silver Nature">
  <builder id="silver.composed.montoide.builder" />
  <runtime>
    <run class="edu.umn.cs.melt.ide.imp.builders.Nature">
      <parameter name="builder" value="silver.composed.montoide.builder" />
    </run>
  </runtime>
</extension>

<extension point="org.eclipse.ui.perspectives">
  <perspective
      class="edu.umn.cs.melt.ide.eclipse.Perspective"
      id="silver.composed.montoide.perspective"
      name="Silver">
  </perspective>
</extension>

<extension point="org.eclipse.core.resources.markers" id="builder.problem" name="Silver Error">
  <super type="org.eclipse.core.resources.problemmarker" />
  <persistent value="true" />
</extension>

<extension point="org.eclipse.imp.runtime.tokenColorer">
  <tokenColorer class="edu.umn.cs.melt.ide.imp.services.Colorer" language="Silver">
  </tokenColorer>
</extension>

<extension point="org.eclipse.ui.popupMenus">
  <objectContribution objectClass="org.eclipse.core.resources.IProject" adaptable="true" nameFilter="*" id="silver.composed.montoide.actions.projectmenu">

    <action
        label="Enable Silver Builder"
        tooltip="Enable the Silver builder for this project"
        id="silver.composed.montoide.actions.nature">
      <class class="edu.umn.cs.melt.ide.imp.builders.EnableNature">
        <parameter name="nature" value="silver.composed.montoide.nature" />
      </class>
    </action>


    <action
        label="Export as Silver target"
        tooltip="Export the project as Silver distributable"
        id="silver.composed.montoide.actions.export">
      <class class="edu.umn.cs.melt.ide.imp.builders.Exporter">
        <parameter name="name" value="Silver" />
      </class>
    </action>


  </objectContribution>
</extension>

<extension point="org.eclipse.ui.newWizards">
  <category
      id="silver.composed.montoide.wizards.category"
      name="Silver">
  </category>
  <wizard
      category="silver.composed.montoide.wizards.category"
      class="edu.umn.cs.melt.ide.wizard.NewProjectWizard"
      id="silver.composed.montoide.wizards.newproject"
      name="New Silver Project"
      finalPerspective="silver.composed.montoide.perspective"
      project="true">
  </wizard>
  

  <wizard
      category="silver.composed.montoide.wizards.category"
      class="edu.umn.cs.melt.ide.wizard.NewSourceFileWizard"
      id="silver.composed.montoide.wizards.newfile"
      name="New Silver Source File">
  </wizard>


</extension>

<extension point="org.eclipse.ui.propertyPages">
  <page
      class="edu.umn.cs.melt.ide.eclipse.property.MultiTabPropertyPage"
      id="silver.composed.montoide.properties"
      name="Silver">
    <enabledWhen>
      <and>
        <instanceof value="org.eclipse.core.resources.IProject"/>
        <adapt type="org.eclipse.core.resources.IResource">
          <test property="org.eclipse.core.resources.projectNature"
                value="silver.composed.montoide.nature">
          </test>
        </adapt>
      </and>
    </enabledWhen>
  </page>
</extension>


<extension point="org.eclipse.imp.runtime.foldingUpdater">
  <foldingUpdater
      class="edu.umn.cs.melt.ide.imp.services.FoldingProvider"
      language="Silver">
  </foldingUpdater>
</extension>


</plugin>
